.buttons{
   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    width: 300px;
    height: auto;
    border-radius: 7px;
    border: 1px solid black;
    background-color: rgb(202, 175, 230);
  }
  .button{
   margin: 9px;
    width: 65px;
    height: 65px;
    background-color: rgb(144, 251, 254);
    text-align: center;
    font-size: x-larger;
    font-weight: 800;
  
  }